@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria El Rey Can</h1>
    <p>Bienvenido al sistema de manipulación de turnos y medicos</p>
</div>

@Html.ActionLink("Ir a Turnos De Hoy", "TurnosDeHoy", "Turno")